*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1270px;
    max-width: 100%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/* Back button */



/* Header */

.header{
    position: relative;

}
.nav__header{
    background-image: linear-gradient(-170deg,#000000,#444444 80%);
    height: 30px;
    color: #fff;
    overflow: hidden;
}

.nav__header-text{
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    display: block;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    padding: 0 12px;
    font-style: italic;
    /* text-transform: uppercase; */
}
.body{
    padding: 16px;
    height: 4750px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100 !important;
}

.sticky + .content{
    padding-top: 60px;
}

.bell-logo{
    font-size: 1.4rem;
    margin-right: 8px;
    line-height: 36px;
}

/* Header-navbar */

.header-nav{
    height: 60px;
    background-color: #e0052b;
}

.header__navbar-list{
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin-bottom: 0;
}

.header__navbar-item{
    display: inline-flex;
    padding:  0 12px;
    position: relative;
    border-radius: 10px;
}


.header__contact-wrap:hover, .header__locate-wrap:hover,.header__place-wrap:hover,
.header__delivery-wrap:hover, .header__cart-wrap:hover{
    background-color: #de495a;
    cursor: pointer;
    color: #000;
    border-radius: 10px;
}

.header__locate-text, .header_-contact-text, .header__place-text,
 .header__delivery-text, .header__cart-text, .header__member-text{
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
}

.header__locate-text:hover, .header_-contact-text:hover, .header__place-text:hover,
.header__delivery-text:hover, .header__cart-text:hover, .header__member-text:hover{
    color: #fff;
 }

.smember{
    margin-top: -2px;
}



.header__locate-icon, .header__contact-icon, .header__place-icon
, .header__delivery-icon, .header__cart-icon , .input-icon{
    color: #fff;
    font-size: 2.2rem;
    display: inline-flex;
    margin-top: 12px;
    margin-right: 12px;
    justify-content: center;
}

.header__member-icon{
    font-size: 2.2rem;
    color: #fff;
    display: flex;
    margin-top: 3px;
    justify-content: center;
}

.header__locate-wrap, .header__search-input-wrap, .header__contact-wrap
, .header__place-wrap, .header__delivery-wrap, .header__cart-wrap, .header__member-wrap{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding: 3px 5px 3px 5px;
}

.header__member-wrap{
    display: flex;
    flex-direction: column;
    width: 69px;
    height: 48px;
    border-radius: 10px;
    margin: 5px 0 0 0px;
    cursor: pointer;
    background-color:#df485a;;
}

.header__navbar-item img{
    width: 200px;
    height: 60px;
}

.choose-place{
    display: none;
    width: 150px;
    /* height: 90px; */
    z-index: 4;
    position: absolute;
    background-color: #fff;
    box-shadow:  rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    top: 66px;
    left: 0px;
    padding-left: 0;
    /* overflow: hidden; */
    border-radius: 10px;
    transition: transform .1s;
    text-align: justify;
}

.choose-place::after{
    content: "";
    width: 130px;
    height: 20px;
    top: -15px;
    left: 0px;
    position: absolute;
    background-color: transparent;
}

.anyplace{
    list-style: none;
    font-size: 1.4rem;
    color: #000;
    padding: 5px 11.5px;
}

.anyplace:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.anyplace:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.anyplace:hover{
    background-color: #ccc;
}

.locate-text{
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 10px;
    font-weight: 400;
    color: #000;
    overflow: hidden;
}
.locate-text:hover{
    color: #000;
}

.locate-text-icon{
    margin-right: 8px;
}

.header__locate:hover .choose-place{
    display: block;
    animation: fadeIn .4s cubic-bezier(.2, .06, .05, .95);
}

.header__search-input{
    margin-top: 4px;
    width: 220px;
    outline: none;
    height: 35px;
    padding: 0 18px;
    font-size: 1.2rem;
    font-weight: 600;
    /* border-top-right-radius:30px;
    border-bottom-right-radius: 30px; */
    border-radius: 15px;
    border: none;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}



.dis-hover:hover{
    background-color: transparent ;
}

.body{
    margin-top: 12px;
}

/* Slider */

.listbox-menu{
    border-radius: 10px;
    background-color: #fff;
    box-shadow:  rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.list-menu{
    list-style: none;
    color: #333;
    padding-left: 0;
    border-radius: 10px;
    /* overflow: hidden; */
}

.item-menu{
    padding: 4px 10px;
    min-height: 31.3px;
    cursor: pointer;
    position: relative;
}

.item-menu:hover .box-list-menu{
    display: block;
    animation: fadeIn .4s cubic-bezier(.2, .06, .05, .95);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.box-list-menu{
    position: absolute;
    display: none;
    top: 0px;
    left: 210px;
    width: 205px;
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    transition: transform .1s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform:translateY(-15px)
    }
    to{
        opacity: 1;
        transform:translateY(0)
    }
}

.box-list-menu .list-menu .item-menu{
    padding: 4px 10px;
}

.box-list-menu::after{
    content: "";
    width: 15px;
    height: 30px;
    top: 2px;
    left: -10px;
    position: absolute;
    background-color: transparent;
}

.box-child-text{
    color: #333;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.box-child-text:hover{
    color: #333;
}

.box-child-2{
    display: none;
    transition: transform .1s;
}

.apple:hover .box-child-2{
    display: block;
    animation: fadeIn .4s cubic-bezier(.2, .06, .05, .95);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.apple-text{
    flex:1;
    text-align: left;

}

.item-link{
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.item-link:hover{
    color: #000;
}

.item-menu:first-child:hover{
    background-color: #ccc;
    border-radius: 10px 10px 0 0;
}

.item-menu:last-child:hover{
    background-color: #ccc;
    border-radius: 0 0 10px 10px;
}

.item-menu:hover{
    background-color: #ccc;
    border-radius: 2px;
}

.item-link span{
    font-weight: 400;
    flex: 1;
}

.siderbar-icon{
    font-size: 2rem;
    color: #000;
    margin-right: 8px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.slider-img{
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.swiper__wraper{
    display: flex;
    justify-content: space-around;
    height: 95px;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    overflow: hidden;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}



.swiper__text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 215px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.swiper__text:hover{
    background-color: #F3F4F6;
    cursor: pointer;
}

.img-col{
    height: 395px;
    background-color: transparent;
    float: left;
}
.img-down{
    width: 219.99px;
    margin-bottom: 21px;
    height: 118px;
    border-radius: 8px;
    box-shadow: rgb(60 64 67 / 38%) 0px 2px 5px 1px, rgb(60 64 67 / 30%) 0px 2px 7px 2px;
}

/* Sale box */
.hot-sale-lable{
    display: flex;
    justify-content: center;
    padding: 15px;
    letter-spacing: .8px;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-style: italic;
    color: #fedb00;
    font-weight: 500;
}

.sale-icon{
    width: 30px;
    height: 30px;
    margin:7px 7px 0 0;
}

.item-container{
    height: 420px;
    width: 1210px;
    margin: auto;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #3a089e,#cf85dd);
}

.item-detail{
    background-color: #fff;
    border-radius: 10px;
    transition: transform .5s;
    position: relative;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}


.box-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-product{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.item-detail:hover{
    color: rgb(63, 88, 163);
    transform: scale(1.02);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);;
}

.box-name{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px;
}

.box-price{
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 10px;
    
}

.sale-price{
    font-style: oblique;
    font-weight: 700;
    color: #d70018;
}

.old-price{
    font-style: oblique;
    margin-left: 5px;
    font-weight: 400;
    color: #8d8d8d;
    text-decoration: line-through;
}

.red-line{
    text-decoration: underline;
    color: #d70018;
    font-style: oblique;
    font-weight: 500;
}

.footer{
    height: 1000px;
}

.home-product-item__rating--gold{
    color:#f59e0b ;
}

.home-product-item__rating--none{
    color: #707070;
}

.box-rating{
    padding: 10px 0 15px 10px;
}

.sold-quantity{
    font-size: 1.2rem;
    color: #000;
    font-weight: 400;
    margin-left: 10px;
}

.sale-sticker{
    width: 80px;
    height: 30px;
    background: url(../../asset/img/logo/sale.svg) center center no-repeat;
    position: absolute;
    top: 10px;
    left: -5.4px;
}

.sale-text{
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

/* Box Product */
.container-sp{
    height: 440px;
    margin:auto;   
    width: 1210px;
}

.product-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0 15px 0;
}

.product-link{
    text-decoration: none;
    color: #000;
    flex: 0.97;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.product-link:hover{
    color: #000;
    cursor: pointer;
}

.list-relate-tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.relate-tag-btn{
    text-decoration: none;
    color: #000;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1.2rem;
    background-color: #f3f4f6;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    margin-right: 10px;
    height: 35px;
    line-height: 35px;
}

.relate-tag-btn:hover{
    color: #000;
    background-color: #ccc;
}

/* Block-list */
.block-filler{
    height: 300px;
}

.block-filler-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 0 10px;
}

.box-title{
    color: #000;
    text-decoration: none;
}

.box-btn-show-all{
    color: #000;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;

}

.box-title:hover, .box-btn-show-all:hover, .product-link:hover{
    color: #000;
    text-decoration: underline;
}

.block-item{
    width: 119px;
    height: 126px;
}

.list-accessories{
    padding-top: 15px;
    text-align: center;
}

.item-accessories{
    background-color: #93c5fd;
    text-decoration: none;
    border-radius: 10px;
    height: 110px;
    margin: 5px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    transition: transform .2s;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.item-accessories:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);;
}

.item-text{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    text-align: left;
}

/* Banner */
.banner-bottom{
    height: 170px;
}

.banner-title{
    margin:20px 10px 15px 10px;
}

.banner-list{
    text-align: center;
}

.banner-img img{
    height: 130px;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    transition: transform .2s;
}

.banner-img img:hover{
    transform: scale(1.02);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);;
}

/* Footer */
.footer-wrap{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.footer{
    height: 255px;
    width: 1210px;
    margin: auto;
}

.footer-box{
    width: 1210px;
    text-align:left;
}

.paid-method {
    width: 60%;
    margin: 0px;
}

.logo-dtv{
    width: 50%;
}

.list-ustyled{
    list-style: none;
    padding-left: 0;
}

.list-foot{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
}

.paid-text{
    text-decoration: none;
    color: #000;
}

.list-foot:hover, .paid-text:hover{
    color: #000;
    text-decoration: underline;
}

.list-paid{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: -10px;
}

.list-paid-icon{
    margin-top: 5px;
}

.list-box-footer{
    margin-top: 10px;
}

.list-box-2{
    margin-top: 20px;
}

.p-text{
    margin-bottom: 5px;
}

.logo-dtv{
    margin-top: 5px;
}

.to-right{
    margin-left: 45px;
}

/* Bottom Foot */
.bottom-foot{
    width: 100%;
    height: 140px;
    background-color: #f8f8f8;
}

.bottom-wrap{
    width: 1210px;
    margin: auto;
    text-align: center;
}

.bot-sp-link{
    text-align: left;
    color: #000;
    font-size: 1.1rem;
    text-decoration: none;
}

.bot-sp-link:hover{
    color: #000;
    text-decoration: underline;
}

.bot-text{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}

.bot-link{
    color: #000;
    text-decoration: none;
}

.bot-link:hover{
    color: #000;
    text-decoration: underline;
}

.mg-bot-text{
    margin-top: 4px;
    font-size: 1.2rem;
    text-align: left;
}

.foot-info{
    margin-top: 12px;
    color: #a7a7a7;
    font-size: 1.2rem;
}

.foot-social{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.foot-copyright{
    background-color: #d5d3d3;
    width: 100%;
    margin: 0;
    height: 25px;
    text-align: center;
    font-size: 1.2rem;
    color: #222;
    line-height: 25px;
}

/* back button */
#btn-back-to-top {
    position: fixed;
    bottom: 60px;
    border-radius: 50%;
    right: 100px;
    display: none;
    width: 50px;
    height: 50px;
  }

  
/* modal */
.modal-container{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    animation: Fadein ease 0.3s;
}

.modal-popup{
    margin: auto;
    width: 1310px;
}

.img-modalpopup{
    margin-top: 120px;
}

.img-popup{
    width: 100%;
    height: 100%;
    border-radius: 20px;
   
}

.button-close{
    border: none;
    color: red;
    font-size: 3rem;
    float: right;
    background: transparent;
    font-weight: 900;
    position: absolute;
    right: 115px;
    top: 125px;
}

@keyframe Fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* product - detail */
.bread-cum{
    width: 100%;
    height: 30px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    overflow-x: auto;
    position: relative;
}

.cps-container{
    width: 1180px;
    height: 30px;
    margin: auto;
}

.ul-container{
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    height: 30px;
    color: #777777;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 500;
}

.cps-link{
    color: #777777;
    text-decoration: none;
}

.cps-link:hover{
    color: #777777;
}

.cps-detail-text{
    cursor: text;
}

.icon-home{
    color: red;
}

.cps-arrow{
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.2rem;

}

.li-csp-container{
    margin-right: 10px;
}

/* box-text */
.container-product{
    width: 100%;
}

.detail-wrapper{
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid #d1d5db;
}

.detail-prodcut-text{
    width: 1180px;
    margin: auto;
}
.box-name-h1{
    font-size: 1.8rem;
    margin-bottom: 0;
    font-weight: 700;
}

.csp-prd_text{
    display: flex;
    align-items: center;
}

.box-product-name{
    margin-right: 10px;
}

.box-product-rating{
    margin-right: 10px;
    height: 100%;
    font-size: 1.2rem;
}

.rate-text{
    font-size: 1.3rem;
    margin-left: 2px;
    font-weight: 400;
}

.box-product-social{
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
}

.product-social-like,.product-social-share{
    font-size: 1.4rem;
    color: #fff;
}

.product-social-like{
    margin-right: 10px;
    background-color: #4267b2;
    border-radius: 3px;
    width: 65px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
}

.product-social-share{
    /* margin-right: 2px; */
    background-color: rgb(66, 103, 178);
    border-radius: 3px;
    width: 65px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
}

.product-social-share:hover,.product-social-like:hover{
    color: #fff;
    cursor: pointer;
}

.smemmer{
    padding-right: 24px;
}

/* Prd-column */
.info-prd{
    margin: 20px auto;   
    width: 1180px;
    height: 700px;
}

#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}



#featured{
	width: 400px;
	height: 400px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid black;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    
}

.thumbnail{
	object-fit: cover;
	max-width: 120px;
	max-height: 60px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 1px solid #ccc;
    border-radius: 10px;
}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	width: 400px;
	display: flex;
    margin: 20px auto;
	height: 80px;
	align-items: center;
}

#slider{
	width: 400px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
}

.button-slide{
    font-size: 2rem;
    cursor: pointer;
    transition: transform .2s;
}

.btn-left{
    padding-right: 10px;
    padding-left: 5px;
}

.btn-right{
    padding-left: 10px;
    padding-right: 5px;
}

.button-slide:hover{
    transform: scale(1.4);
}

.prd-paid-wrapper{
    display: flex;
}

.prd-paid{
    margin-left: 10px;
    border:1px solid #d70018;
    border-radius: 4px;
    padding: 6px;
    background-color: #fef2f2;
    margin-bottom: 0;
}

.price-prd{
    margin: 20px 0 0 10px;
}

.prd-new-price{
    font-weight: 700;
    font-size: 1.8rem;
    color: #d70018;
}

.dong_vnd{
    text-decoration: underline;
    font-size: 1.4rem;
    color: #d70018;
    font-style: oblique;
}

.prd-old-price{
    font-size: 1.4rem;
    font-weight: 500;
    color: #707070;
    text-decoration: line-through;
    margin-left: 10px;
}

.prd-option{
    margin-top: 10px;
}

.prd-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.prd-link-option{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    border: 1px solid #D1D5DB;
    cursor: pointer;
    padding: 5px 21.6px;
    border-radius: 10px;
    margin-top: 10px;
}

.prd-link-option span{
    font-size: 1.2rem;
    font-weight: 400;
}

.prd-link-option:hover{
    color: #000;
    /* background-color: rgba(0, 0, 0, 0.09); */
}

.prd-color-option{
    margin: 20px 0 0 10px;
}

.prd-color-title {
    font-size: 1.4rem;
    font-weight: 500;
}

.img-color{
    width: 24px;
}

.prd-list-color{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
}

.prd-color{
    display: flex;
    margin: 0 6px 10px 0;
}

.prd-cl-link{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: 115px;
    height: auto;
    text-decoration: none;
    color: #000;
    padding: 6px 3px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
}

.prd-cl-link:hover{
    color: #000;
}

.prd-cl-link p{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 4px;
}

.sold-out{
    opacity: 0.4;
    cursor: not-allowed;
}

.box-promotion{
    margin:0 10px 0 10px;
    border: 1px solid #fee2e2;
    border-radius: 10px;
    overflow: hidden;
}

.gift-box{
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    color: #e14218;
    background-color: #fee2e2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.list-promotion{
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 10px;
}

.item-promotin{
    margin-bottom: 5px;
}

.item-pro-link{
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
}

.item-pro-link span{
    color: red;
}

.item-pro-link:hover{
    text-decoration: underline;
    color: #000;
}



.shop-have-item{
    margin: 5px 10px 10px 10px;

}

.shop-have-item p{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    border-radius: 10px;
    background-color:#fee2e2 ;
    width: 320px;
    margin: auto;
    justify-content: center;
    height: 30px;
    line-height: 30px;
}

.shop-have-item p a,.shop-have-item p i{
    text-decoration: none;
    color: #e14218;
}

.shop-have-item p i{
    margin-right: 5px;
}

.buy-item{
    margin: 10px 0 0 0;
}

.buy-btn-wrapper{
    margin: 10px 10px 0 10px;
}

.btn-red{
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #ed272a;
    border-radius: 10px;
}

.btn-blue{
    text-decoration: none;
    width: 172px;
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding: 8px;
    background: #277cea;
    border-radius: 10px;
}


.group-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn-red:hover,.btn-blue:hover{
    color: #fff;
    /* transform: scale(1.02); */

}

.more-promotion{
    margin: 10px 10px 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.more-title{
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #696b6c;
    background-color: #ccc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-transform: uppercase;
}

.list-more-promotion{
    list-style: none;
    padding-left: 10px;
}

.item-more-promotion{
    margin-top: 5px;
}

.item-more-link{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    margin-top: 10px;
}

.green-tick{
    background-color: #2ba832;
    color: #fff;
    border-radius: 6px;
    margin-right: 5px;
}